@* DevelopeR: Alimohammad Eghbaldar: https://eghbaldar.ir *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using alefbafilm6.Application.Services.Productions.Commands.PostProduct
@model RequestPostProductServiceDto

@{
    ViewData["Title"] = "اضافه کردن تولید جدید";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/AdminTemplate/libs/dropify/dropify.min.css" rel="stylesheet" type="text/css" />
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <form id="frmAddProduct" asp-action="create" method="post">
                        <h4 class="m-t-0 header-title">اضافه کردن تولید جدید</h4>

                        <div class="row">
                            <div class="col-12">


                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="simpleinput">عنوان تولید:</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               id="txtTitle"
                                               asp-for="Title"
                                               class="form-control">
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="example-email">توضیحات:</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Description"
                                               id="txtDescription"
                                               class="form-control"
                                               placeholder="توضیحات اثر اجباری است">
                                        <span asp-validation-for="Description" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">دسته:</label>
                                    <div class="col-sm-10">
                                        <select class="custom-select" id="CategorySelector" name="Name"
                                                asp-items="@ViewBag.Category">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">
                                        ژانر:
                                    </label>

                                    <div class="col-sm-10">
                                        <select class="custom-select" id="GenreSelector" name="Name"
                                                asp-items="@ViewBag.Genre">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">
                                        زمان:
                                    </label>

                                    <div class="col-sm-10">
                                        <input class="form-control" type="time"
                                        asp-for="Time"
                                               id="txtTime">
                                        <span class="text-danger"
                                              asp-validation-for="Time">
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">
                                        تاریخ تولید:
                                    </label>

                                    <div class="col-sm-10">
                                        <input class="form-control" id="txtDate"
                                        asp-for="ProductionDate"
                                               type="date">
                                        <span class="text-danger"
                                              asp-validation-for="ProductionDate">
                                        </span>
                                    </div>
                                </div>

                                <div class="dropify-message">
                                    <span class="file-icon">

                                </div><div class="dropify-loader"></div><div class="dropify-errors-container">
                                    <ul></ul>
                                </div>

                                <h1>تصویر اصلی و بزرگ</h1>
                                <input type="file"
                                       asp-for="PhotoBig"
                                       id="FileBig"
                                       class="dropify"
                                       data-height="300">
                                <span asp-validation-for="PhotoBig" class="text-danger"></span>

                                <div class="dropify-preview">
                                    <span class="dropify-render"></span>
                                    <div class="dropify-infos">
                                        <div class="dropify-infos-inner">
                                            <p class="dropify-filename">
                                                <span class="file-icon">

                                                </span> <span class="dropify-filename-inner"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <h1>تصویر فرعی و کوچک</h1>
                                <input type="file"
                                       asp-for="PhotoSmall"
                                       id="FileSmall"
                                       class="dropify"
                                       data-height="300">
                                <span asp-validation-for="PhotoSmall" class="text-danger"></span>

                                <div class="dropify-preview">
                                    <span class="dropify-render"></span>
                                    <div class="dropify-infos">
                                        <div class="dropify-infos-inner">
                                            <p class="dropify-filename">
                                                <span class="file-icon">

                                                </span> <span class="dropify-filename-inner"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button onclick="addProduct()" type="button" class="btn btn-primary">درج تولید</button>
                    </form>
                </div>

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>

@section Scripts{

    @*Validation Js*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @*End*@

    @*Upload Js*@
    <script src="~/AdminTemplate/libs/dropify/dropify.min.js"></script>
    <script src="~/AdminTemplate/js/pages/form-fileupload.init.js"></script>
    @*End*@

    <script>
        function addProduct() {
            if ($("#frmAddProduct").valid()) {



                Swal.fire({
                    title: 'ثبت!',
                    text: 'مایل به ثبت تولید جدید هستید؟',
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#000222',
                    cancelButtonColor: '#000222',
                    confirmButtonText: 'بله انجام شود',
                    cancelButtonText: 'خیر'
                }).then((result) => {
                    if (result.value) {
                        var title = $("#txtTitle").val();
                        var description = $("#txtDescription").val();
                        var category = $("#CategorySelector").val();
                        var genre = $("#GenreSelector").val();
                        var time = $("#txtTime").val();
                        var date = $("#txtDate").val();
                        var imgBig = document.getElementById("FileBig");
                        var imgSmall = document.getElementById("FileSmall");

                        var postData = new FormData();
                        postData.append("Title", title);
                        postData.append("Description", description);
                        postData.append("CategoryName", category);
                        postData.append("Genre", genre);
                        postData.append("Time", time);
                        postData.append("ProductionDate", date);

                        postData.append("PhotoBig", imgBig.files[0]);
                        postData.append("PhotoSmall", imgSmall.files[0]);

                        $.ajax({
                            contentType: false,
                            processData: false,
                            type: 'POST',
                            data: postData,
                            url: '/admin/productions/create',
                            success: function (data) {
                                if (data.isSuccess) {
                                    Swal.fire({
                                        title: 'موفقیت!',
                                        text: data.message,
                                        icon: 'success',
                                        confirmButtonColor: 'green',
                                        confirmButtonText: 'متوجه شدم',
                                    }).then((result) => {
                                        if (result) {
                                            location.reload();
                                        }
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: 'خطا!',
                                        text: data.message,
                                        icon: 'error',
                                        confirmButtonColor: 'red',
                                        confirmButtonText: 'متوجه شدم',
                                    }).then((result) => {
                                        //
                                    });
                                }
                            },
                            error: function (request, status, error) {
                                alert('err: ' + request.responseText);
                            }
                        });
                    }
                    else {
                        Swal.fire('NO');
                    }
                });
                
            }
        }
    </script>

}