@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    DevelopeR: Alimohammad Eghbaldar: https://eghbaldar.ir
*@
@{
    ViewData["Title"] = "اضافه کردن تولید جدید";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/AdminTemplate/libs/dropify/dropify.min.css" rel="stylesheet" type="text/css" />
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <form id="frmAddPhoto" asp-action="create" method="post">
                        <h4 class="m-t-0 header-title">اضافه کردن تولید جدید</h4>

                        <div class="row">
                            <div class="col-12">


                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="simpleinput">عنوان تولید:</label>
                                    <div class="col-sm-10">
                                        <input
                                               name="Name"
                                               type="text"
                                               id="txtFullname"
                                               class="form-control">
                                       
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="example-email">توضیحات:</label>
                                    <div class="col-sm-10">
                                        <input 
                                               name="Detail"
                                               type="text"
                                               id="txtDetail"
                                               class="form-control"
                                               placeholder="توضیحات اختیاری تصویر">
                                       
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">دسته:</label>
                                    <div class="col-sm-10">
                                        <select class="custom-select" id="Id" name="Name"
                                                asp-items="@ViewBag.Category">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">
                                        ژانر:
                                    </label>

                                    <div class="col-sm-10">
                                        <select class="custom-select" id="Id" name="Name"
                                                asp-items="@ViewBag.Genre">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">
                                        زمان:
                                        <span class="text-danger">این قسمت میتواند خالی رد شود</span>
                                    </label>

                                    <div class="col-sm-10">
                                        <input class="form-control" type="time" name="time" id="example-time">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">
                                        تاریخ تولید:
                                        <span class="text-danger">این قسمت میتواند خالی رد شود</span>
                                    </label>

                                    <div class="col-sm-10">
                                        <input class="form-control" id="example-date" type="date" name="date">
                                        
                                    </div>
                                </div>

                                <div class="dropify-message">
                                    <span class="file-icon">

                                </div><div class="dropify-loader"></div><div class="dropify-errors-container">
                                    <ul></ul>
                                </div>

                                <h1>تصویر اصلی و بزرگ</h1>
                                <input 
                                       name="Filename"
                                       type="file"
                                       id="inputFile"
                                       class="dropify"
                                       data-height="300">
                                <span
                                      class="text-danger" />

                                <div class="dropify-preview">
                                    <span class="dropify-render"></span>
                                    <div class="dropify-infos">
                                        <div class="dropify-infos-inner">
                                            <p class="dropify-filename">
                                                <span class="file-icon">

                                                </span> <span class="dropify-filename-inner"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <h1>تصویر فرعی و کوچک</h1>
                                <input 
                                       name="Filename"
                                       type="file"
                                       id="inputFile"
                                       class="dropify"
                                       data-height="300">
                              

                                <div class="dropify-preview">
                                    <span class="dropify-render"></span>
                                    <div class="dropify-infos">
                                        <div class="dropify-infos-inner">
                                            <p class="dropify-filename">
                                                <span class="file-icon">

                                                </span> <span class="dropify-filename-inner"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button onclick="Add()" type="button" class="btn btn-primary">درج تولید</button>
                    </form>
                </div>

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>

@section Scripts{

    @*Validation Js*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @*End*@

    @*Upload Js*@
    <script src="~/AdminTemplate/libs/dropify/dropify.min.js"></script>
    <script src="~/AdminTemplate/js/pages/form-fileupload.init.js"></script>
    @*End*@

                                            }