@using alefbafilm6.Application.Services.Pages.Queries.GetAboutPage
@model GetAboutPageDto
@*
    Developer: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "ویرایش صفحه درباره‌ی ما";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<textarea class="summernote" id="summernote" name="content">
    @Model.AboutPage
</textarea>


<button class="btn btn-primary" onclick="Update()">
    بروزرسانی
</button>


@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

}
@section Scripts
    {

    @*WYSWYG*@
    <!-- Summernote -->
    <script src="~/summernote/summernote-init.js"></script>
    <script src="~/summernote/summernote/js/summernote.min.js"></script>
    <script>
        $('#summernote').summernote({
            placeholder: 'درباره ی ما',
            tabsize: 2,
            height: 520,
            toolbar: [                                
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']],
                ['height', ['height']],                
                ['style', ['style']],

            ],
            fontNames: ['Yekan Bakh FaNum', 'iranyekan', 'IRANSans', 'Arial Black', 'Comic Sans MS', 'Courier New',],
            lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
            dialogsInBody: true,
            disableDragAndDrop: true

        });
    </script>
    <!-- End Summernote-->

    <script>
        function Update() {

            var value = $('#summernote').summernote('code');

            var postData = {
                'AboutPage': value,
            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'Update',
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire({
                            title: 'موفقیت!',
                            text: data.message,
                            icon: 'success',
                            confirmButtonColor: 'green',
                            confirmButtonText: 'متوجه شدم',
                        }).then((result) => {
                            if (result) {
                                location.reload();
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            title: 'خطا!',
                            text: data.message,
                            icon: 'error',
                            confirmButtonColor: 'red',
                            confirmButtonText: 'متوجه شدم',
                        }).then((result) => {
                            //
                        });
                    }
                },
                error: function (request, status, error) {
                    alert('Err: ' + request.responseText);
                }
            });
        }
    </script>

}