@using alefbafilm6.Application.Services.Pages.Queries.GetAboutPage
@model GetAboutPageDto

@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    @Html.Raw(Model.AboutPage)
    <!--
    <section class="section-box">
        <div class="banner-hero bg-about-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="text-display-2 color-gray-900">در الفبا چه می‌گذرد؟</h1>
                        <p class="text-heading-4 color-gray-600 mt-40">
                            توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                            <br class="d-lg-block d-none">  توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                            <br class="d-lg-block d-none"> توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                            <br class="d-lg-block d-none">  توضیحات توضیحات توضیحات توضیحات 
                        توضیحات توضیحات.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-box mt-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="box-image"><a class="popup-youtube btn-play-video btn-play-middle" href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط تنظیمات پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a><img class="img-responsive bdrd-16" src="~/sitetemplate/imgs/page/about/3/img.png" alt="alefbafilm"></div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <section class="section-box mt-100">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-12"></div>
                <div class="col-lg-10 col-sm-10 col-12 text-center">
                    <h2 class="text-heading-1 color-gray-900 mb-10">تولید آثار هنری و تبلیغاتی از هر نوع</h2>
                    <p class="text-body-lead-large color-gray-600 mt-20"> توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات</p>
                </div>
                <div class="col-lg-1 col-sm-1 col-12"></div>
            </div>
        </div>
        <div class="container mt-40">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="list-icons mt-50">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/SiteTemplate/imgs/page/homepage2/icon-acquis.svg" alt="alefbafilm"></span>
                            <h4 class="text-heading-4">1. فیلم کوتاه</h4>
                            <p class="text-body-text color-gray-600 mt-15">

                                توضیحات توضیحات توضیحات توضیحات
                                توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="list-icons mt-50">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/SiteTemplate//imgs/page/homepage2/icon-active.svg" alt="alefbafilm"></span>
                            <h4 class="text-heading-4">2. تبلیغاتی</h4>
                            <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                              </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="list-icons mt-50">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/SiteTemplate//imgs/page/homepage2/icon-retent.svg" alt="alefbafilm"></span>
                            <h4 class="text-heading-4">3. جُنگ</h4>
                            <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</main>