@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="main">
    <section class="section-box">
        <div class="banner-hero banner-breadcrums">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-heading-2 color-gray-900 mb-20">
                            مدیر عامل شرکت
                        </h1>
                        @*<div class="breadcrumbs">
                        <ul class="text-body-text">
                        <li><a class="color-gray-900" href="index.htm#">صفحه اصلی</a></li>
                        <li><span class="color-gray-500">جزئیات شغل</span></li>
                        </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50 mb-50">
        <div class="container">
            <div class="content-detail">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <h2 class="text-heading-4">علیرضا محزون</h2>
                        <p class="text-body-text">توضیحات ...</p>
                        <p class="text-body-text">توضیحات ...</p>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="box-image mt-30 mb-30">
                            <img class="img-responsive bdrd-16" src="~/sitetemplate/imgs/page/career/img.png" alt="alefbafilm">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p></p>
                        <h2 class="text-heading-4">بیوگرافی</h2>
                        <p>علیرضا محزون در سال ...</p>
                        <h2 class="text-heading-4">سوابق فیلمسازی و افتخارات</h2>
                        <ul>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                        </ul>
                        <p></p>
                        <h2 class="text-heading-4">تخصص و مهارت‌ها</h2>
                        <ul>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                            <li>توضیحات ...</li>
                        </ul>
                                                
                        <div class="border-bottom mt-50 mb-50"></div>
                        <div class="media-block">
                            @*<a class="btn btn-green-900 color-white text-heading-6 icon-arrow-right-white mr-20" href="page-signup.html"> اکنون درخواست دهید</a><a class="btn btn-default icon-arrow-right" href="page-contact.html">تماس با ما</a>*@
                            <div class="float-start float-lg-end mt-30">
                                <a class="btn btn-media mr-10"
                                href="index.htm#"><img src="~/sitetemplate/imgs/template/icons/facebook-share.svg"
                                alt="alefbafilm"></a><a class="btn btn-media mr-10" href="index.htm#">
                                    <img src="~/sitetemplate/imgs/template/icons/twitter-share.svg" alt="alefbafilm"> 
                                </a><a class="btn btn-media"
                                       href="index.htm#"><img src="~/sitetemplate/imgs/template/icons/pinterest-share.svg" alt="alefbafilm"> </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>