@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using alefbafilm6.Application.Services.Contact.Commands.PostContact
@model RequestPostContactDto
@*
    DelevlopeR: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "تماس با الفبا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main">
    <section class="section-box">
        <div class="banner-hero banner-breadcrums">
            <div class="container text-center">
                <h1 class="text-heading-2 color-gray-1000 mb-20">تماس با ما</h1>
                <p class="text-body-text color-gray-500">
                    در هر ساعتی از شبانه روز با افتخار پاسخگوی شما خواهیم بود
                    <br class="d-lg-block d-none"> منتظر نظرات گرمتان هستیم.
                </p>
            </div>
        </div>
    </section>
    <section class="section-box">
        <div class="container mb-20 mt-140">
            <div class="bdrd-58 box-gray-100 icon-wave">
                <div class="row">
                    <div class="col-lg-12 mb-60">
                        <span class="text-body-capitalized text-uppercase">با ما در تماس باشد</span>
                        <h2 class="text-heading-3 color-gray-900 mt-10">و نظرات خود را با ما به اشتراک بگذارید</h2>
                        <p class="text-body-text color-gray-600 mt-20">
                            ما پیشرفت خود را به شما مدیونیم
                        </p>
                    </div>
                    <div class="col-lg-4 mb-40">
                        <h4 class="text-heading-6 color-gray-900 icon-home mb-10 mt-10">الفبا فیلم</h4>
                        <p class="text-body-text color-gray-600">
                            گیلان، آستانه اشرفیه
                            <br>بلوار دکتر محمد معین، نبش خیابان جهاد
                        </p>
                        <p class="text-body-text color-gray-600">(013)42127052</p>
                        <p class="text-body-text color-gray-600">0911-763-8948</p>

                        <p class="text-body-text color-gray-600">info [@@] alefbafilm.ir</p>


                        <div class="footer-social">

                            <a href="https://aparat.com/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-aparat.svg" />
                            </a>

                            <a href="https://wa.me/9117638948?text="
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-whatsapp.svg" />
                            </a>

                            <a href="https://instagram.com/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-instagram.svg" />
                            </a>

                            <a href="https://t.me/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-telegram.svg" />
                            </a>


                        </div>
                    </div>
                    
                        <div class="col-lg-8">
                            <form id="frmContact" asp-action="Contact" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input asp-for="FullName"
                                               class="form-control"
                                               id="txtFullname"
                                               type="text"
                                               value=""
                                               placeholder="نام و نام خانوادگی">
                                        <span asp-validation-for="FullName"
                                              data-valmsg-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control"
                                        id="txtOrganization" type="text" value="" placeholder="موسسه یا سازمان (اختیاری)">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input asp-for="Email"
                                            class="form-control"
                                        id="txtEmail" type="text" value="" placeholder="ایمیل شما">
                                        <span asp-validation-for="Email"
                                              data-valmsg-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control"
                                               asp-for="Phone"
                                        id="txtPhone" type="text" value="" placeholder="شماره تلفن">
                                        <span asp-validation-for="Phone"
                                              data-valmsg-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea asp-for="Message"
                                            class="form-control" id="txtMessage" placeholder="پیام شما ..."></textarea>
                                        <span asp-validation-for="Message"
                                              data-valmsg-for="Message" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-15">
                                    <button type="button"
                                        class="btn btn-black icon-arrow-right-white mr-40 mb-20"
                                            onclick="Add()">
                                        ارسال
                                    </button><br class="d-lg-none d-block">
                                    <span class="text-body-text-md color-gray-500 mb-20">
                                    </span>
                                </div>
                            </div>
                        </form>
                        </div>
                   
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <!-- These validation libraries need to be included for unobtrusive validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- End -->
    <script>
        function Add() {
            if ($("#frmContact").valid()) {
                var postData = {
                    'FullName': $("#txtFullname").val(),
                    'Organization': $("#txtOrganization").val(),
                    'Email': $("#txtEmail").val(),
                    'Phone': $("#txtPhone").val(),
                    'Message': $("#txtMessage").val(),
                };
                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: 'POST',
                    data: postData,
                    url: 'Contact',
                    success: function (data) {
                        if (data.isSuccess) {
                            Swal.fire(data.message);
                        }
                        else
                        {
                            Swal.fire(data.message);
                        }
                    },
                    error: function (request, status, error) {
                        alert('err:' + request.responseText)
                    }
                });
            } //else { alert(''); }
        }
    </script>
}