@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section-box">
    <div class="container mt-120">
        <div class="bdrd-58 box-gray-100">
            <div class="row">
                <div class="col-lg-2 col-sm-1 col-12"></div>
                <div class="col-lg-8 col-sm-10 col-12 text-center">
                    <h2 class="text-heading-1 color-gray-900 mt-30">شرکت‌های همکار</h2>
                    <p class="text-body-lead-large color-gray-600 mt-20">
                        در مورد شرکت‌های همکار الفبا بیشتر بدانید</p>
                </div>
                <div class="col-lg-2 col-sm-1 col-12"></div>
            </div>
            <div class="container mt-70">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card-grid-style-2 hover-up mb-20">
                            <h5 class="text-heading-5 color-gray-900">درگاه فیلم ایران</h5>
                            <div class="box-img-user">
                                <div class="img-user"><img src="~/sitetemplate/imgs/page/homepage2/iranfilmport.png" alt="alefbafilm"></div>
                                <h4 class="text-body-lead color-gray-900 mb-5">شرکت پخش و عرضه بین المللی فیلم و فیلمنامه</h4>
                                <p class="text-body-text-md">مدیر مسئول: علیمحمد اقبالدار</p>
                                <p class="text-body-text-md">www.iranfilmport.com</p>
                            </div>

                            <p class="text-body-text color-gray-600 mt-20 text-comment">تخصصی‌ترین مرکز پخش و ارسال فیلم به فستیوال‌های بین‌المللی</p>

                        </div>
                    </div>  <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card-grid-style-2 hover-up mb-20">
                            <h5 class="text-heading-5 color-gray-900">درگاه فیلم ایران</h5>
                            <div class="box-img-user">
                                <div class="img-user"><img src="~/sitetemplate/imgs/page/homepage2/iranfilmport.png" alt="alefbafilm"></div>
                                <h4 class="text-body-lead color-gray-900 mb-5">شرکت پخش و عرضه بین المللی فیلم و فیلمنامه</h4>
                                <p class="text-body-text-md">مدیر مسئول: علیمحمد اقبالدار</p>
                                <p class="text-body-text-md">www.iranfilmport.com</p>
                            </div>

                            <p class="text-body-text color-gray-600 mt-20 text-comment">تخصصی‌ترین مرکز پخش و ارسال فیلم به فستیوال‌های بین‌المللی</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>