@*
    Delevloper: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "وب سایت رسمی شرکت فیلمسازی الفبا";
}

<main class="main">
    <section class="section-box">
        <div class="banner-hero banner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h1 class="text-display-2">
                            الفبا <span class="color-green-900">تیم عالی</span> برای به تصویر در آوردن رویاهایتان
                        </h1>
                        <p class="text-body-lead-large color-gray-500 mt-40 pr-40">
                            تولید فیلم‌های داستانی، مستند، انیمیشن، کلیپ‌های تبلیغاتی و ...
                        </p>
                        <div class="mt-40">
                            <a class="btn btn-black icon-arrow-right-white" href="~/home/aboutus">
                                درباره‌ی الفبا ...
                            </a><a class=" btn btn-link icon-arrow-right color-gray-900 text-heading-6"
                            href="~/home/production">تولیدات</a>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block">
                        <div class="banner-imgs">
@*                            <div class="video-block shape-1"><a class="popup-youtube btn-play-video" href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط تنظیمات پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a><span class="text-heading-4">تماشای ویدئو اینترو</span></div>*@
                            <img class="img-responsive shape-2" alt="alefbafilm" src="~/SiteTemplate/imgs/page/homepage1/banner.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>