@*
    Delevloper: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "تولیدات الفبا";
}
<main class="main">
    <section class="section-box">
        <div class="banner-hero bg-service-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 box-banner-left">
                        <h1 class="text-display-3 mt-30">تولیدات الفبا</h1>
                        <p class="text-body-lead-large color-gray-500 mt-40 pr-40">
                            بهترین و با کیفیت ها را با ما تجربه کنید
                            <div class="mt-40">
                                <a class="btn btn-black shape-square icon-arrow-right-white"
                                   href="https://wa.me/9117638948?text=" target="_blank">ارتباط مستقیم</a>
                                @*<a class="btn btn-link icon-triangle color-gray-900 ml-40" href="page-pricing-1.html">نحوه کار</a>*@
                            </div>
                            <div class="row mt-50">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="list-icons">
                                        <div class="item-icon none-bd">
                                            <span class="icon-left"><img src="~/SiteTemplate/imgs/page/about/2/icon-project-done.svg" alt="alefbafilm "></span>
                                            <h4 class="text-heading-4"><span class="text-heading-3 color-green-900">+<span class="count">12</span>k</span></h4>
                                            <p class="text-body-text color-gray-500">پروژه‌های هنری انجام شده</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="list-icons">
                                        <div class="list-icons">
                                            <div class="item-icon none-bd">
                                                <span class="icon-left"><img src="~/SiteTemplate/imgs/page/about/2/icon-officer.svg" alt="alefbafilm"> </span>
                                                <h4 class="text-heading-4"><span class="text-heading-3 color-green-900">+<span class="count">18</span></span></h4>
                                                <p class="text-body-text color-gray-500">پروژه‌های سفارشی انجام شده</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block">
                        <div class="banner-imgs">
                            <div class="block-1 shape-2">
                                <img src="~/sitetemplate/imgs/template/chart.png" width="100px" alt="alefbafilm">
                            </div><img src="~/SiteTemplate/imgs/page/services/1/banner.png" alt="alefbafilm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">
                    <div class="text-start mb-25"><span class="tag-1 bg-6 color-green-900">حیطه فعالیت الفبا:</span></div>
                    <h2 class="text-heading-2 color-gray-900 mb-50">
                        لحظه به لحظه
                        <br class="d-lg-block d-none"> بدنبال ایده‌های نوین و خالق‌العاده هستیم!
                    </h2>
                </div>
            </div>
        </div>
        <div class="container mt-20">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="list-icons">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/sitetemplate/imgs/page/services/1/icon-support.svg" alt="alefbafilm"> </span>
                            <h4 class="text-heading-6">پشتیبانی تولید فیلم کوتاه و بلند</h4>
                            <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="list-icons">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/sitetemplate/imgs/page/services/1/icon-web.svg" alt="alefbafilm"> </span>
                            <h4 class="text-heading-6">موزیک ویدیو</h4>
                             <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="list-icons">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/sitetemplate/imgs/page/services/1/icon-business.svg" alt="alefbafilm"> </span>
                            <h4 class="text-heading-6">برگزاری جُنگ‌های کودکان</h4>
                            <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="list-icons">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/sitetemplate/imgs/page/services/1/icon-product.svg" alt="alefbafilm"> </span>
                            <h4 class="text-heading-6">تولید انیمیشن</h4>
                            <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="list-icons">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/sitetemplate/imgs/page/services/1/icon-share.svg" alt="alefbafilm"> </span>
                            <h4 class="text-heading-6">مستندهای آموزشی و تبلیغاتی</h4>
                            <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="list-icons">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/sitetemplate/imgs/page/services/1/icon-build.svg" alt="alefbafilm"> </span>
                            <h4 class="text-heading-6">پشتیبانی تصویری مراسم رسمی و سازمانی</h4>
                            <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="list-icons">
                        <div class="item-icon none-bd">
                            <span class="icon-left"><img src="~/sitetemplate/imgs/page/services/1/icon-team.svg" alt="alefbafilm"> </span>
                            <h4 class="text-heading-6">برگزاری ورکشاب‌های آموزشی</h4>
                            <p class="text-body-text color-gray-600 mt-15">
                                توضیحات توضیحات توضیحات توضیحات
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box">
        <div class="container mt-70">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-30">
                    <span class="tag-1 bg-6 color-green-900">توضیحات</span>
                    <h3 class="text-heading-1 mt-30">توضیحات</h3>
                    <p class="text-body-lead-large color-gray-600 mt-30">
                        توضیحات
                    </p>
                    <div class="line-bd-green mt-50"></div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 block-we-do">
                    <div class="inner-image">
                        <img class="bdrd-16 img-responsive" src="~/sitetemplate/imgs/page/homepage2/img-built.png" alt="alefbafilm">
                        <div class="block-image-bottom"><img class="bdrd-16 img-responsive" src="~/sitetemplate/imgs/page/homepage2/img-built-2.png" alt="alefbafilm"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-70">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-30">
                    <span class="tag-1 bg-6 color-green-900">توضیحات</span>
                    <h3 class="text-heading-1 mt-30">توضیحات</h3>
                    <p class="text-body-lead-large color-gray-600 mt-30">
                        توضیحات
                    </p>
                    <div class="line-bd-green mt-50"></div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 block-we-do">
                    <div class="inner-image">
                        <img class="bdrd-16 img-responsive" src="~/sitetemplate/imgs/page/homepage2/img-built-2-1.png" alt="alefbafilm">
                        <div class="block-image-bottom"><img class="bdrd-16 img-responsive" src="~/sitetemplate/imgs/page/homepage2/img-built-2-2.png" alt="alefbafilm"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-70">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-30">
                    <span class="tag-1 bg-6 color-green-900">توضیحات</span>
                    <h3 class="text-heading-1 mt-30">توضیحات</h3>
                    <p class="text-body-lead-large color-gray-600 mt-30">
                        توضیحات
                    </p>
                    <div class="line-bd-green mt-50"></div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-50">
                            <h4 class="text-heading-6 icon-leaf">توضیحات</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">
                                توضیحات
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 block-we-do">
                    <div class="inner-image">
                        <img class="bdrd-16 img-responsive" src="~/sitetemplate/imgs/page/homepage2/img-built-3.png" alt="alefbafilm">
                        <div class="block-image-bottom"><img class="bdrd-16 img-responsive" src="~/sitetemplate/imgs/page/homepage2/img-built-2.png" alt="alefbafilm"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   @* <section class="section-box mt-70">
        <div class="container mt-50">
            <h3 class="text-heading-1 text-center mb-10">بهترین طرح را انتخاب کنید<br class="d-lg-block d-none"> این برای شماست</h3>
        </div>
        <div class="container mt-20">
            <div class="text-center block-bill-2 mt-10">
                <span class="text-lg text-billed">صورتحساب ماهانه</span>
                <label class="switch ml-20 mr-20">
                    <input id="cb_billed_type" type="checkbox" name="billed_type" onchange="checkBilled()"><span class="slider round"></span>
                </label><span class="text-lg text-billed">صورتحساب سالانه</span>
            </div>
            <div class="block-pricing block-pricing-2 mt-70">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 wow animate__ animate__fadeIn animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                                <div class="box-pricing-item hover-up">
                                    <div class="box-info-price"><span class="text-heading-3 for-month display-month">35 تومان</span><span class="text-heading-3 for-year"> تومان420</span><span class="text-month for-month text-body-small color-gray-400 display-month">/ماه</span><span class="text-month for-year text-body-small color-gray-400">/سال</span></div>
                                    <div class="line-bd-bottom">
                                        <h4 class="text-heading-5 mb-15">استاندارد</h4>
                                        <p class="text-body-small color-gray-400">همه اصول اولیه برای کسب و کارهایی که به تازگی شروع به کار کرده اند.</p>
                                    </div>
                                    <ul class="list-package-feature">
                                        <li>به‌روزرسانی‌های نامحدود</li>
                                        <li>مجوزهای سفارشی</li>
                                        <li>طرح ها و ویژگی های سفارشی</li>
                                    </ul>
                                    <div><a class="btn btn-black text-body-lead icon-arrow-right-white" href="index.htm#">شروع به کار</a></div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow animate__ animate__fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                <div class="box-pricing-item active hover-up">
                                    <div class="box-info-price"><span class="text-heading-3 for-month display-month">89 تومان</span><span class="text-heading-3 for-year"> 1068 تومان</span><span class="text-month for-month text-body-small color-gray-400 display-month">/ماه</span><span class="text-month for-year text-body-small color-gray-400">/سال</span></div>
                                    <div class="line-bd-bottom">
                                        <h4 class="text-heading-5 mb-15">موارد ضروری</h4>
                                        <p class="text-body-small color-gray-400">همه اصول اولیه برای کسب و کارهایی که به تازگی شروع به کار کرده اند.</p>
                                    </div>
                                    <ul class="list-package-feature">
                                        <li>به‌روزرسانی‌های نامحدود</li>
                                        <li>مجوزهای سفارشی</li>
                                        <li>مدرسان سفارشی</li>
                                    </ul>
                                    <div><a class="btn btn-black text-body-lead icon-arrow-right-white" href="index.htm#">شروع به کار</a></div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow animate__ animate__fadeIn animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                                <div class="box-pricing-item hover-up">
                                    <div class="box-info-price"><span class="text-heading-3 for-month display-month">125 تومان</span><span class="text-heading-3 for-year"> 1500 تومان</span><span class="text-month for-month text-body-small color-gray-400 display-month">/ماه</span><span class="text-month for-year text-body-small color-gray-400">/سال</span></div>
                                    <div class="line-bd-bottom">
                                        <h4 class="text-heading-5 mb-15">پرو</h4>
                                        <p class="text-body-small color-gray-400">ویژگی های پیشرفته برای حرفه ای هایی که نیاز به سفارشی سازی بیشتری دارند.</p>
                                    </div>
                                    <ul class="list-package-feature">
                                        <li>به‌روزرسانی‌های نامحدود</li>
                                        <li>طرح ها و ویژگی های سفارشی</li>
                                        <li>مجوزهای سفارشی</li>
                                        <li>مدرسان سفارشی</li>
                                    </ul>
                                    <div><a class="btn btn-black text-body-lead icon-arrow-right-white" href="index.htm#">شروع به کار</a></div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow animate__ animate__fadeIn animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <div class="box-pricing-item hover-up">
                                    <div class="box-info-price"><span class="text-heading-3 for-month display-month">199 تومان</span><span class="text-heading-3 for-year"> تومان2388</span><span class="text-month for-month text-body-small color-gray-400 display-month">/ماه</span><span class="text-month for-year text-body-small color-gray-400">/سال</span></div>
                                    <div class="line-bd-bottom">
                                        <h4 class="text-heading-5 mb-15">نامحدود</h4>
                                        <p class="text-body-small color-gray-400">ویژگی های پیشرفته برای حرفه ای هایی که نیاز به سفارشی سازی بیشتری دارند.</p>
                                    </div>
                                    <ul class="list-package-feature">
                                        <li>به روز رسانی و پشتیبانی نامحدود</li>
                                        <li>طرح ها و ویژگی های سفارشی</li>
                                        <li>مجوزهای سفارشی</li>
                                        <li>مدرسان سفارشی</li>
                                    </ul>
                                    <div><a class="btn btn-black text-body-lead icon-arrow-right-white" href="index.htm#">شروع به کار</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

</main>