@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="main">
    <section class="section-box mt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-1 col-12"></div>
                <div class="col-lg-8 col-sm-10 col-12 text-center">
                    <h2 class="text-heading-1 color-gray-900">سابقه الفبا</h2>
                    <p class="text-body-lead-large color-gray-600 mt-20">
                        خلاصه‌ای از فعالیت‌های چندین ساله‌ی شرکت بشرح زیر می‌باشد</p>
                </div>
                <div class="col-lg-2 col-sm-1 col-12"></div>
            </div>
        </div>
        <div class="container mt-70">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    @*<div class="row">
                        <div class="col-lg-4 mb-50">
                            <h4 class="text-heading-6 icon-leaf">اول افراد </h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">آخرین گرایش های طراحی با الگوهای دست ساز مطابقت دارد.</p>
                        </div>
                        <div class="col-lg-4 mb-50">
                            <h4 class="text-heading-6 icon-leaf">رویکرد چابک</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">آخرین گرایش های طراحی با الگوهای دست ساز مطابقت دارد.</p>
                        </div>
                        <div class="col-lg-4 mb-50">
                            <h4 class="text-heading-6 icon-leaf">ذهنیت جدید</h4>
                            <p class="text-body-excerpt color-gray-600 mt-15">آخرین گرایش های طراحی با الگوهای دست ساز مطابقت دارد.</p>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-lg-12 mt-50">
                            <div class="accordion" id="accordionFAQ">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls=" collapseOne">سابقه ی 1</button>
                                    </h2>
                                    <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionFAQ" style="">
                                        <div class="accordion-body">توضیحات ...</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">سابقه ی 2</button>
                                    </h2>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ" style="">
                                        <div class="accordion-body">توضیحات ...</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button text-heading-5 collapsed text-heading-5 type=" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-="" controls="collapseThree">سابقه ی 3</button>
                                    </h2>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
                                        <div class="accordion-body">توضیحات ...</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">سابقه ی 4</button>
                                    </h2>
                                    <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionFAQ">
                                        <div class="accordion-body">توضیحات ...</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">سابقه ی 5</button>
                                    </h2>
                                    <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionFAQ">
                                        <div class="accordion-body">توضیحات ...</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSix">
                                        <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">سابقه ی 6</button>
                                    </h2>
                                    <div class="accordion-collapse collapse" id="collapseSix" aria-labelledby="headingSix" data-bs-parent="#accordionFAQ">
                                        <div class="accordion-body">توضیحات ...</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingSeven">
                                        <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">سابقه ی 7</button>
                                    </h2>
                                    <div class="accordion-collapse collapse" id="collapseSeven" aria-labelledby="headingSeven" data-bs-parent="#accordionFAQ">
                                        <div class="accordion-body">توضیحات ...</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-100 text-center"><a class="btn btn-green-900 icon-arrow-right-white text-heading-6 color-white" href="~/home/contact">تماس ما</a>
                                <a class="btn btn-link text-heading-6" target="_blank" href="https://wa.me/9117638948?text=">ارتباط مستقیم</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
</main>