@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="main">
    <section class="section-box">
        <div class="container mt-110">
            <div class="row">
                <div class="col-lg-9 col-sm-8">
                    <h3 class="text-heading-1 mb-10">تیم الفبا</h3>
                    <p class="text-body-lead-large color-gray-600">
                        الفبا بهترین‌ها را جهت خدمت به شما دور هم جمع کرده است
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt-80">
            <div class="box-swiper">
                <div class="swiper-container swiper-group-4 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-rtl">
                    <div class="swiper-wrapper pb-70 pt-5" id="swiper-wrapper-d04cf94d637d3e73" aria-live="off" style="transform: translate3d(2632px, 0px, 0px); transition-duration: 0ms;">
                        <div class="swiper-slide active swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-6 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                 <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                   توضیحات ...
                                </p>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-10 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" role="group" aria-label="4 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-9 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide active swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="5 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                   توضیحات ...
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="1" role="group" aria-label="6 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-6 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                   توضیحات ...
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="2" role="group" aria-label="7 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-10 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3" role="group" aria-label="8 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-9 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide active swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="9 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1" role="group" aria-label="10 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-6 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="11 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-10 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" role="group" aria-label="12 / 12" style="width: 309px; margin-left: 20px;">
                            <div class="card-grid-style-3 bd-bg-9 hover-up">
                                <div class="grid-3-img">
                                    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
                                </div>
                                <h3 class="text-heading-6 mb-5 mt-20">سحر نوایی</h3>
                                <span class="text-body-small d-block">طراح و ایده پرداز</span>
                                <p class="text-body-text text-desc color-gray-500 mt-20">
                                    توضیحات ...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination3"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-button-next swiper-button-next-4" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-d04cf94d637d3e73"></div>
                <div class="swiper-button-prev swiper-button-prev-4" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-d04cf94d637d3e73"></div>
            </div>
        </div>
    </section>
</main>
