@using alefbafilm6.Application.Services.Staff.Queries.GetStaff
@model ResultGetStaffServiceDto
@*
    Delevloper: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "تیم الفبا";
}
<main class="main">
    <section class="section-box">
        <div class="container mt-110">
            <div class="row">
                <div class="col-lg-9 col-sm-8">
                    <h3 class="text-heading-1 mb-10">تیم الفبا</h3>
                    <p class="text-body-lead-large color-gray-600">
                        الفبا بهترین‌ها را جهت خدمت به شما دور هم جمع کرده است
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt-80">
            <div class="box-swiper">
                <div class="swiper-container swiper-group-4 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-rtl">
                    <div class="swiper-wrapper pb-70 pt-5" id="swiper-wrapper-d04cf94d637d3e73" aria-live="off" style="transform: translate3d(2632px, 0px, 0px); transition-duration: 0ms;">

                        @foreach (var photo in Model._resultGetStaffServiceDto)
                        {
                            <div class="swiper-slide"
                             data-swiper-slide-index="2"
                             role="group" aria-label="7 / 12" style="width: 250px; margin-left: 20px;">
                                <div class="card-grid-style-3 bd-bg-10 hover-up"
                                 style="border:0;width: 100%;
box-shadow: 1px 4px 26px -14px rgba(0,0,0,0.41);
-webkit-box-shadow: 1px 4px 26px -14px rgba(0,0,0,0.41);
-moz-box-shadow: 1px 4px 26px -14px rgba(0,0,0,0.41);
-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius:15px;">
                                    <div class="grid-3-img">
                                        <img src="~/images/staff/@photo.File" alt="alefbafilm">
                                    </div>
                                    <h3 class="text-heading-6 mb-5 mt-20">@photo.Name</h3>
                                    <span class="text-body-small d-block">@photo.Title</span>
                                    <p class="text-body-text text-desc color-gray-500 mt-20">
                                        @photo.Detail
                                    </p>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="swiper-pagination swiper-pagination3"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-button-next swiper-button-next-4" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-d04cf94d637d3e73"></div>
                <div class="swiper-button-prev swiper-button-prev-4" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-d04cf94d637d3e73"></div>
            </div>
        </div>
    </section>
</main>
