<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <link rel="manifest" href="manifest.json.htm" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/sitetemplate/imgs/template/favicon.svg">
    <link href="~/sitetemplate/css/style.css" rel="stylesheet">
    <title>@ViewData["Title"]</title>
    <link href="~/sitetemplate/css/rtl.css" rel="stylesheet">
    @RenderSection("Styles",required:false)
</head>
<body>
    <!-- Preloader Start-->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    <header class="header sticky-bar">
        <div class="container">
            <div class="main-header">
                <div class="header-left">
                    <div class="header-logo">
                        <a class="d-flex" href="~/">
                            <img alt="alefbafilm"
                                 src="~/sitetemplate/imgs/template/logo.svg">
                        </a>
                    </div>
                    <div class="header-nav">
                        <nav class="nav-main-menu d-none d-xl-block">
                            <ul class="main-menu">
                                <li>
                                    <a class="active" href="~/">صفحه اصلی</a>
                                    @* <ul class="sub-menu two-col">
                                    <li><a href="index.html"><i class="fi fi-rr-home"> </i>صفحه اصلی - 1</a></li>
                                    <li><a href="index-2.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 2</a></li>
                                    <li><a href="index-3.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 3</a></li>
                                    <li><a href="index-4.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 4</a></li>
                                    <li><a href="index-5.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 5</a></li>
                                    <li><a href="index-6.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 6</a></li>
                                    <li><a href="index-7.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 7</a></li>
                                    <li><a href="index-8.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 8</a></li>
                                    </ul>*@
                                </li>
                                <li class="has-children">
                                    <a href="#">شرکت</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="closer" href="~/home/production">
                                                <i class="fi fi-rr-gem"></i>تولیدات
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/resume">
                                                <i class="fi fi-rr-gem"></i>سابقه کاری
                                            </a>
                                        </li>
                                        <li class="hr"><span></span></li>
                                        <li>
                                            <a class="closer" href="~/home/staff">
                                                <i class="fi fi-rr-database"></i>اعضای شرکت
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/ceo">
                                                <i class="fi fi-rr-database"></i>مدیر عامل
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/Cooperation">
                                                <i class="fi fi-rr-headset"></i>شرکت‌های همکار
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">درباره ما</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="closer" href="~/home/gallery">
                                                <i class="fi fi-rr-edit"></i>گالری تصاویر الفبا
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/aboutus">
                                                <i class="fi fi-rr-edit"></i>درباره‌ی الفبا
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/contact">
                                                <i class="fi fi-rr-edit"></i>در تماس باشید
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="block-signin">
                            <a class="btn btn-default hover-up icon-arrow-right" href="~/admin/users/index">
                                <span>مدیریت سایت</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
        <div class="mobile-header-wrapper-inner">
            @* <div class="mobile-header-top">
            <div class="user-account">
            <img src="~/sitetemplate/imgs/template/ava_1.png" alt="alefbafilm">
            <div class="content">
            <h6 class="user-name">سلام <span class="text-brand">استیون!</span></h6>
            <p class="font-xs text-muted">شما 5 پیام جدید دارید</p>
            </div>
            </div>
            </div>*@
            <div class="mobile-header-content-area">
                <div class="perfect-scroll">
                    <div class="mobile-menu-wrap mobile-header-border">
                        <!-- mobile menu start-->
                        <nav>
                            <ul class="mobile-menu font-heading">
                                <li>
                                    <a class="active" href="~/">صفحه اصلی</a>
                                    @* <ul class="sub-menu two-col">
                                    <li><a href="index.html"><i class="fi fi-rr-home"> </i>صفحه اصلی - 1</a></li>
                                    <li><a href="index-2.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 2</a></li>
                                    <li><a href="index-3.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 3</a></li>
                                    <li><a href="index-4.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 4</a></li>
                                    <li><a href="index-5.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 5</a></li>
                                    <li><a href="index-6.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 6</a></li>
                                    <li><a href="index-7.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 7</a></li>
                                    <li><a href="index-8.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 8</a></li>
                                    </ul>*@
                                </li>
                                <li class="has-children">
                                    <a href="~/home/production">شرکت</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="closer" href="~/home/production">
                                                <i class="fi fi-rr-gem"></i>تولیدات
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/resume">
                                                <i class="fi fi-rr-gem"></i>سابقه کاری
                                            </a>
                                        </li>
                                        <li class="hr"><span></span></li>
                                        <li>
                                            <a class="closer" href="~/home/staff">
                                                <i class="fi fi-rr-database"></i>اعضای شرکت
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/ceo">
                                                <i class="fi fi-rr-database"></i>مدیر عامل
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/cooperation">
                                                <i class="fi fi-rr-headset"></i>شرکت‌های همکار
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="~/home/aboutus">درباره ما</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="closer" href="~/home/gallery">
                                                <i class="fi fi-rr-edit"></i>گالری تصاویر الفبا
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/aboutus">
                                                <i class="fi fi-rr-edit"></i>درباره‌ی الفبا
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/contact">
                                                <i class="fi fi-rr-edit"></i>در تماس باشید
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- mobile menu end-->
                    </div>
                    @*                    <div class="mobile-account">
                    <h6 class="mb-10">حساب شما</h6>
                    <ul class="mobile-menu font-heading">
                    <li><a href="index.htm#">نمایه</a></li>
                    <li><a href="index.htm#">اولویت‌های کاری</a></li>
                    <li><a href="index.htm#">عکس‌های تقویت‌شده من</a></li>
                    <li><a href="index.htm#">مجموعه‌های من</a></li>
                    <li><a href="index.htm#">تنظیمات حساب</a></li>
                    <li><a href="index.htm#">پرومیوم</a></lie
                    <li><a href="page-login.html">خروج از سیستم</a></li>
                    </ul>
                    </div>*@
                    <div class="site-copyright color-gray-400" style="text-align:center;">
                        <span class="color-gray-400 text-body-lead" style="color:lightgray;">
                            <a href="https://eghbaldar.ir" target="_blank">
                                &copy; EGHBALDAR
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    @*        <div class="section-box overflow-visible mt-70">
    <div class="container">
    <div class="row justify-content-md-center">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
    <a class="item-logo box-hover-shadow hover-up" href="index.htm#">
    <img alt="alefbafilm" src="~/sitetemplate/imgs/slider/logo/sample-logo-1.svg">
    </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
    <a class="item-logo box-hover-shadow hover-up" href="index.htm#">
    <img alt="alefbafilm" src="~/sitetemplate/imgs/slider/logo/sample-logo-2.svg">
    </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
    <a class="item-logo box-hover-shadow hover-up" href="index.htm#">
    <img alt="alefbafilm" src="~/sitetemplate/imgs/slider/logo/sample-logo-3.svg">
    </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
    <a class="item-logo box-hover-shadow hover-up" href="index.htm#">
    <img alt="alefbafilm" src="~/sitetemplate/imgs/slider/logo/sample-logo-4.svg">
    </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
    <a class="item-logo box-hover-shadow hover-up" href="index.htm#">
    <img alt="alefbafilm" src="~/sitetemplate/imgs/slider/logo/sample-logo-5.svg">
    </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
    <a class="item-logo box-hover-shadow hover-up" href="index.htm#">
    <img alt="alefbafilm" src="~/sitetemplate/imgs/slider/logo/sample-logo-6.svg">
    </a>
    </div>
    </div>
    </div>
    </div>
    <section class="section-box">
    <div class="container">
    <div class="row">
    <div class="col-lg-2 col-sm-1 col-12"></div>
    <div class="col-lg-8 col-sm-10 col-12 text-center mt-70">
    <h2 class="text-heading-1 color-gray-900">
    ببینید چرا ما به ما اعتماد داریم<br class="d-lg-block d-none"> در سراسر جهان
    </h2>
    <p class="text-body-lead-large color-gray-600 mt-20">
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
    از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه ..
    </p>
    </div>
    <div class="col-lg-2 col-sm-1 col-12"></div>
    </div>
    </div>
    <div class="container">
    <div class="text-center mt-90">
    <ul class="nav" role="tablist">
    <li>
    <a class="btn btn-default btn-bd-green-hover btn-select active" href="index.htm#tab-1"
    data-bs-toggle="tab" role="tab" aria-controls="tab-1" aria-selected="true">برندینگ</a>
    </li>
    <li>
    <a class="btn btn-default btn-bd-green-hover btn-select" href="index.htm#tab-2"
    data-bs-toggle="tab" role="tab" aria-controls="tab-2" aria-selected="true">توسعه</a>
    </li>
    <li>
    <a class="btn btn-default btn-bd-green-hover btn-select" href="index.htm#tab-3"
    data-bs-toggle="tab" role="tab" aria-controls="tab-3" aria-selected="true">انیمیشن</a>
    </li>
    <li>
    <a class="btn btn-default btn-bd-green-hover btn-select" href="index.htm#tab-4"
    data-bs-toggle="tab" role="tab" aria-controls="tab-4" aria-selected="true">تجربه کاربر</a>
    </li>
    <li>
    <a class="btn btn-default btn-bd-green-hover btn-select" href="index.htm#tab-5"
    data-bs-toggle="tab" role="tab" aria-controls="tab-5" aria-selected="true">شبکه اجتماعی</a>
    </li>
    <li>
    <a class="btn btn-default btn-bd-green-hover btn-select" href="index.htm#tab-6"
    data-bs-toggle="tab" role="tab" aria-controls="tab-6" aria-selected="true">بازاریابی</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="container">
    <div class="tab-content">
    <!-- Start Tab-->
    <div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
    <div class="bg-2 panel-box mt-50">
    <div class="row">
    <div class="col-lg-6 col-md-12">
    <div class="box-optimized">
    <h3 class="text-heading-2">بهینه سازی و مقیاس، شروع آسان</h3>
    <p class="text-body-excerpt mt-30">
    درد به خودی خود بسیار مهم است، پس از آن آدیپیسینگ
    به دنبال خواهد داشت، اما همزمان با برخی کارها و دردهای بزرگ اتفاق می افتد. برای
    رسیدن به کوچکترین جزئیات، هیچ کس نباید هیچ نوع کاری را تمرین کند، مگر اینکه از
    آن بهره ای ببرد. از درد سرزنش عصبانی نشو.
    </p>
    <div class="mt-40">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-service-1.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
    <div class="block-video icon-pattern">
    <a class="popup-youtube btn-play-video"
    href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a>
    <img class="img-responsive" src="~/sitetemplate/imgs/page/homepage1/img-1.png"
    alt="alefbafilm">
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- End tab-->
    <!-- Start Tab-->
    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
    <div class="bg-1 panel-box mt-50">
    <div class="row">
    <div class="col-lg-6 col-sm-12">
    <div class="box-optimized">
    <h3 class="text-heading-2">استودیوهای طراحی که همه باید بدانند</h3>
    <p class="text-body-excerpt mt-30">
    درد به خودی خود بسیار مهم است، پس از آن آدیپیسینگ
    به دنبال خواهد داشت، اما همزمان با برخی کارها و دردهای بزرگ اتفاق می افتد. برای
    رسیدن به کوچکترین جزئیات، هیچ کس نباید هیچ نوع کاری را تمرین کند، مگر اینکه از
    آن بهره ای ببرد. از درد سرزنش عصبانی نشو.
    <div class="mt-40">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-service-1.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-sm-12">
    <div class="block-video icon-pattern">
    <a class="popup-youtube btn-play-video"
    href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a><img class="img-responsive" src="~/sitetemplate/imgs/page/homepage1/img-1-2.jpg" alt="alefbafilm">
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- پایان برگه-->
    <!-- شروع برگه-->
    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
    <div class="bg-3 panel-box mt-50">
    <div class="row">
    <div class="col-lg-6 col-sm-12">
    <div class="box-optimized">
    <h3 class="text-heading-2">می‌توانیم رنگ‌ها را به روش‌های مختلف ترکیب کنیم</h3>
    <p class="text-body-excerpt mt-30">
    درد به خودی خود بسیار مهم است، پس از آن آدیپیسینگ
    به دنبال خواهد داشت، اما همزمان با برخی کارها و دردهای بزرگ اتفاق می افتد. برای
    رسیدن به کوچکترین جزئیات، هیچ کس نباید هیچ نوع کاری را تمرین کند، مگر اینکه از
    آن بهره ای ببرد. از درد سرزنش عصبانی نشو.
    <div class="mt-40">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-service-1.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-sm-12">
    <div class="block-video icon-pattern">
    <a class="popup-youtube btn-play-video"
    href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a><img class="img-responsive" src="~/sitetemplate/imgs/page/homepage1/img-1-3.jpg" alt="alefbafilm">
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- پایان برگه-->
    <!-- شروع برگه-->
    <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab-4">
    <div class="bg-4 panel-box mt-50">
    <div class="row">
    <div class="col-lg-6 col-sm-12">
    <div class="box-optimized">
    <h3 class="text-heading-2">بهترین طرحی را که برای شما مناسب است انتخاب کنید</h3>
    <p class="text-body-excerpt mt-30">
    درد به خودی خود بسیار مهم است، پس از آن آدیپیسینگ
    به دنبال خواهد داشت، اما همزمان با برخی کارها و دردهای بزرگ اتفاق می افتد. برای
    رسیدن به کوچکترین جزئیات، هیچ کس نباید هیچ نوع کاری را تمرین کند، مگر اینکه از
    آن بهره ای ببرد. از درد سرزنش عصبانی نشو.
    <div class="mt-40">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-service-1.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-sm-12">
    <div class="block-video icon-pattern">
    <a class="popup-youtube btn-play-video"
    href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a><img class="img-responsive" src="~/sitetemplate/imgs/page/homepage1/img-1-4.jpg" alt="alefbafilm">
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- پایان برگه-->
    <!-- شروع برگه-->
    <div class="tab-pane fade" id="tab-5" role="tabpanel" aria-labelledby="tab-5">
    <div class="bg-5 panel-box mt-50">
    <div class="row">
    <div class="col-lg-6 col-sm-12">
    <div class="box-optimized">
    <h3 class="text-heading-2">برای دریافت هدیه در خبرنامه ما مشترک شوید</h3>
    <p class="text-body-excerpt mt-30">
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
    در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
    متنوع با هدف بهبود ابزارهای کاربردی می باشد.
    </p>
    <div class="mt-40">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-service-1.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-sm-12">
    <div class="block-video icon-pattern">
    <a class="popup-youtube btn-play-video"
    href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a><img class="img-responsive" src="~/sitetemplate/imgs/page/homepage1/img-1-5.jpg" alt="alefbafilm">
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- پایان برگه-->
    <!-- شروع برگه-->
    <div class="tab-pane fade" id="tab-6" role="tabpanel" aria-labelledby="tab-6">
    <div class="bg-6 panel-box mt-50">
    <div class="row">
    <div class="col-lg-6 col-sm-12">
    <div class="box-optimized">
    <h3 class="text-heading-2">آماده ای برای شروع؟ ایجاد و حساب</h3>
    <p class="text-body-excerpt mt-30">
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
    در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
    متنوع با هدف بهبود ابزارهای کاربردی می باشد.
    </p>
    <div class="mt-40">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-service-1.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-sm-12">
    <div class="block-video icon-pattern">
    <a class="popup-youtube btn-play-video"
    href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a>
    <img class="img-responsive" src="~/sitetemplate/imgs/page/homepage1/img-1-6.jpg"
    alt="alefbafilm">
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- End tab-->
    </div>
    </div>
    </section>
    <section class="section-box">
    <div class="container">
    <div class="row">
    <div class="col-lg-2 col-sm-1 col-12"></div>
    <div class="col-lg-8 col-sm-10 col-12 text-center mt-100">
    <h2 class="text-heading-1 color-gray-900">
    ما ایجاد<br class="d-lg-block d-none"> استراتژی و طراحی را
    تسهیل می کنیم
    </h2>
    <p class="text-body-lead-large color-gray-600 mt-20">
    استراتژی های رشد مغناطیسی را به صورت تعاملی
    تغییر دهید در حالی که تفکر "خارج از جعبه" آینده نگر.
    </p>
    </div>
    <div class="col-lg-2 col-sm-1 col-12"></div>
    </div>
    </div>
    <div class="container mt-70">
    <div class="row">
    <div class="col-lg-4 col-sm-12">
    <div class="card-grid-1 bg-5 bg-business hover-up">
    <div class="grid-1-img">
    <img src="~/sitetemplate/imgs/page/homepage1/business-strategy.svg" alt="alefbafilm">
    </div>
    <h3 class="text-heading-3 mt-20">استراتژی کسب و کار</h3>
    <p class="text-body-excerpt mt-20">
    همیشه خوش آمدید از لانه کوچک ما دیدن کنید. حرفه ای در صنایع
    دستی! همه محصولات با توجه قوی به جزئیات، ترکیبات و حال و هوای کلی فوق العاده شگفت انگیز
    بودند.
    </p>
    <div class="mt-30">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-about-1.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12">
    <div class="card-grid-1 bg-9 bg-local hover-up">
    <div class="grid-1-img"><img src="~/sitetemplate/imgs/page/homepage1/local.svg" alt="alefbafilm"></div>
    <h3 class="text-heading-3 mt-20">بازاریابی محلی</h3>
    <p class="text-body-excerpt mt-20">
    همیشه خوش آمدید از لانه کوچک ما دیدن کنید. حرفه ای در صنایع
    دستی! همه محصولات با توجه قوی به جزئیات، ترکیبات و حال و هوای کلی فوق العاده شگفت انگیز
    بودند.
    </p>
    <div class="mt-30">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-about-2.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12">
    <div class="card-grid-1 bg-2 bg-social hover-up">
    <div class="grid-1-img"><img src="~/sitetemplate/imgs/page/homepage1/social.svg" alt="alefbafilm"></div>
    <h3 class="text-heading-3 mt-20">رسانه های اجتماعی</h3>
    <p class="text-body-excerpt mt-20">
    همیشه خوش آمدید از لانه کوچک ما دیدن کنید. حرفه ای در صنایع
    دستی! همه محصولات با توجه قوی به جزئیات، ترکیبات و حال و هوای کلی فوق العاده شگفت انگیز
    بودند.
    </p>
    <div class="mt-30">
    <a class="btn btn-default btn-white icon-arrow-right"
    href="page-about-3.html">بیشتر بیاموزید</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="section-box">
    <div class="container mt-100">
    <div class="row">
    <div class="col-lg-6 col-sm-12 block-img-we-do">
    <img class="bdrd-16 img-responsive"
    src="~/sitetemplate/imgs/page/homepage1/img-2.png"
    alt="alefbafilm">
    </div>
    <div class="col-lg-6 col-sm-12 block-we-do">
    <span class="tag-1">آنچه ما انجام می دهیم، آنچه شما دریافت می کنید</span>
    <h3 class="text-heading-1 mt-30">ما معتقدیم که آثار ما می توانند به دنیای بهتر کمک کنند.</h3>
    <p class="text-body-lead-large color-gray-600 mt-30">
    برای ارائه کمپین هایی با دستکش سفید و کاملاً
    مدیریت شده که از معیارهای صنعت پیشی می گیرند، ضروری است. حرفه خود را به سطح بالاتری ببرید.
    </p>
    <div class="line-bd-green mt-50"></div>
    <div class="row">
    <div class="col-lg-6 col-sm-6 col-12 mt-50">
    <h4 class="text-heading-6 icon-leaf">فروش خود را افزایش دهید</h4>
    <p class="text-body-excerpt color-gray-600 mt-15">
    آخرین گرایش های طراحی با الگوهای دست ساز
    مطابقت دارد.
    </p>
    </div>
    <div class="col-lg-6 col-sm-6 col-12 mt-50">
    <h4 class="text-heading-6 icon-leaf">ابزارهای نصب هوشمند</h4>
    <p class="text-body-excerpt color-gray-600 mt-15">
    آخرین گرایش های طراحی با الگوهای دست ساز
    مطابقت دارد.
    </p>
    </div>
    <div class="col-lg-6 col-sm-6 col-12 mt-50">
    <h4 class="text-heading-6 icon-leaf">معرفی ویژگی‌های جدید</h4>
    <p class="text-body-excerpt color-gray-600 mt-15">
    آخرین گرایش های طراحی با الگوهای دست ساز
    مطابقت دارد.
    </p>
    </div>
    <div class="col-lg-6 col-sm-6 col-12 mt-50">
    <h4 class="text-heading-6 icon-leaf">تقویت پویا</h4>
    <p class="text-body-excerpt color-gray-600 mt-15">
    آخرین گرایش های طراحی با الگوهای دست ساز
    مطابقت دارد.
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="section-box">
    <div class="container mt-120">
    <div class="bg-2 bdrd-58 pattern-white pb-60">
    <div class="row">
    <div class="col-lg-2 col-sm-1 col-12"></div>
    <div class="col-lg-8 col-sm-10 col-12 text-center mt-70">
    <h2 class="text-heading-1 color-gray-900">آنچه ما ارائه می دهیم</h2>
    <p class="text-body-lead-large color-gray-600 mt-20">
    چه چیزی ما را از دیگران متمایز می کند؟ ما
    راه حل های جامعی را با استراتژی، طراحی و فناوری ارائه می دهیم.
    </p>
    </div>
    <div class="col-lg-2 col-sm-1 col-12"></div>
    </div>
    <div class="container mt-70">
    <div class="box-swiper">
    <div class="swiper-container swiper-group-3">
    <div class="swiper-wrapper pb-70 pt-5">
    <div class="swiper-slide">
    <div class="card-grid-style-2 hover-up">
    <div class="grid-2-img">
    <img src="~/sitetemplate/imgs/page/homepage1/market.svg"
    alt="alefbafilm">
    </div>
    <h3 class="text-heading-5 mt-20">تحقیق بازار</h3>
    <p class="text-body-text color-gray-600 mt-20">
    یکی خزنده می‌سازد، مردی که فلک
    خود را دارد.
    </p>
    </div>
    </div>
    <div class="swiper-slide">
    <div class="card-grid-style-2 hover-up">
    <div class="grid-2-img">
    <img src="~/sitetemplate/imgs/page/homepage1/consulting.svg"
    alt="alefbafilm">
    </div>
    <h3 class="text-heading-5 mt-20">مشاوره استراتژیک</h3>
    <p class="text-body-text color-gray-600 mt-20">
    یکی خزنده می‌سازد، مردی که فلک
    خود را دارد.
    </p>
    </div>
    </div>
    <div class="swiper-slide">
    <div class="card-grid-style-2 hover-up">
    <div class="grid-2-img">
    <img src="~/sitetemplate/imgs/page/homepage1/cognity.svg"
    alt="alefbafilm">
    </div>
    <h3 class="text-heading-5 mt-20">راه حل شناختی</h3>
    <p class="text-body-text color-gray-600 mt-20">
    یکی خزنده می‌سازد، مردی که فلک
    خود را دارد.
    </p>
    </div>
    </div>
    </div>
    <div class="swiper-pagination swiper-pagination3"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="section-box">
    <div class="container mt-110">
    <div class="row">
    <div class="col-lg-9 col-sm-8">
    <h3 class="text-heading-1 mb-10">مشتریان خوشحال ما</h3>
    <p class="text-body-lead-large color-gray-600">
    در مورد مشتریان خود بدانید، ما یک برند شرکتی جهانی
    هستیم
    </p>
    </div>
    </div>
    </div>
    <div class="container mt-80">
    <div class="box-swiper">
    <div class="swiper-container swiper-group-4">
    <div class="swiper-wrapper pb-70 pt-5">
    <div class="swiper-slide active">
    <div class="card-grid-style-3 hover-up">
    <div class="grid-3-img">
    <img src="~/sitetemplate/imgs/page/homepage1/user-1.png" alt="alefbafilm">
    </div>
    <h3 class="text-heading-6 mb-5 mt-20">الیزابت اولسون</h3><span class="text-body-small d-block">پاکو خمس</span>
    <p class="text-body-text text-desc color-gray-500 mt-20">
    حتی در نظر گرفتن تفاوت وزن بدن
    بین کودکان و بزرگسالان.
    </p>
    </div>
    </div>
    <div class="swiper-slide">
    <div class="card-grid-style-3 bd-bg-6 hover-up">
    <div class="grid-3-img">
    <img src="~/sitetemplate/imgs/page/homepage1/user-2.png" alt="alefbafilm">
    </div>
    <h3 class="text-heading-5 mt-20">بروکلین سیمونز</h3><span class="text-body-small d-block">نینتندو</span>
    <p class="text-body-text text-desc color-gray-500 mt-20">
    بنابراین بله، الکل (اتانول)
    موجود در ضدعفونی‌کننده‌های دست می‌تواند از طریق پوست جذب شود، اما نه، باعث مسمومیت
    نمی‌شود.
    </p>
    </div>
    </div>
    <div class="swiper-slide">
    <div class="card-grid-style-3 bd-bg-10 hover-up">
    <div class="grid-3-img">
    <img src="~/sitetemplate/imgs/page/homepage1/user-3.png" alt="alefbafilm">
    </div>
    <h3 class="text-heading-6 mb-5 mt-20">نیکول کیدمن</h3><span class="text-body-small d-block">استارباکس</span>
    <p class="text-body-text text-desc color-gray-500 mt-20">
    سطح الکل خون آنها به 0.007 تا
    0.02 o/oo (بخش در هزار) یا 0.7 تا 2.0 میلی گرم در لیتر افزایش یافت.< /p>
    </div>
    </div>
    <div class="swiper-slide">
    <div class="card-grid-style-3 bd-bg-9 hover-up">
    <div class="grid-3-img">
    <img src="~/sitetemplate/imgs/page/homepage1/user-4.png" alt="alefbafilm">
    </div>
    <h3 class="text-heading-5 mt-20">آلبرت فلورس</h3><span class="text-body-small d-block">بانک آمریکا</span>
    <p class="text-body-text text-desc color-gray-500 mt-20">
    بنابراین بله، الکل (اتانول)
    موجود در ضدعفونی‌کننده‌های دست می‌تواند از طریق پوست جذب شود، اما نه، باعث مسمومیت
    نمی‌شود.
    </p>
    </div>
    </div>
    </div>
    <div class="swiper-pagination swiper-pagination3"></div>
    </div>
    <div class="swiper-button-next swiper-button-next-4"></div>
    <div class="swiper-button-prev swiper-button-prev-4"></div>
    </div>
    </div>
    </section>
    <section class="section-box">
    <div class="container">
    <div class="row">
    <div class="col-lg-8">
    <h3 class="text-heading-1 mb-10">آخرین اخبار</h3>
    <p class="text-body-lead-large color-gray-600">از وبلاگ و صفحه هواداران رویداد ما</p>
    </div>
    <div class="col-lg-4 text-lg-end text-start pt-30">
    <a class="btn btn-black icon-arrow-right-white"
    href="blog-1.html"> مشاهده بیشتر</a>
    </div>
    </div>
    </div>
    <div class="container mt-90">
    <div class="row">
    <div class="col-lg-4 col-sm-12 pr-30">
    <div class="card-grid-style-4">
    <span class="tag-dot">شرکت</span><a class="text-heading-4"
    href="blog-single.html">
    ما
    می‌توانیم رنگ‌ها را به روش‌های مختلف ترکیب کنیم
    </a>
    <div class="grid-4-img">
    <a href="blog-single.html">
    <img src="~/sitetemplate/imgs/page/homepage1/img-news-1.png" alt="alefbafilm">
    </a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12 pr-30">
    <div class="card-grid-style-4">
    <span class="tag-dot">مارکتینگ</span><a class="text-heading-4"
    href="blog-single.html">
    چگونه با سرعتی باورنکردنی از سرمایه عبور کنیم
    </a>
    <div class="grid-4-img">
    <a href="blog-single.html">
    <img src="~/sitetemplate/imgs/page/homepage1/img-news-2.png" alt="alefbafilm">
    </a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12 pr-30">
    <div class="card-grid-style-4">
    <span class="tag-dot">خدمات مشتری</span><a class="text-heading-4"
    href="blog-single.html">
    استودیوهای
    طراحی که همه باید درباره آنها بدانند؟
    </a>
    <div class="grid-4-img color-bg-4">
    <a href="blog-single.html">
    <img src="~/sitetemplate/imgs/page/homepage1/img-news-3.png" alt="alefbafilm">
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="section-box section-green mt-100">
    <div class="container mt-70">
    <h3 class="text-heading-1 color-white text-center mb-10">
    بهترین طرح را انتخاب کنید<br class="d-lg-block d-none"> این برای شماست
    </h3>
    </div>
    <div class="container mt-70">
    <div class="text-center mt-10">
    <span class="text-lg text-billed">صورتحساب ماهانه</span>
    <label class="switch ml-20 mr-20">
    <input id="cb_billed_type" type="checkbox" name="billed_type" onchange="checkBilled()"><span class="slider round"></span>
    </label><span class="text-lg text-billed">صورتحساب سالانه</span>
    </div>
    <div class="block-pricing mt-70">
    <div class="row">
    <div class="col-xl-10 col-lg-12 offset-xl-1">
    <div class="row">
    <div class="col-lg-4 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
    <div class="box-pricing-item">
    <div class="box-info-price">
    <span class="text-heading-3 for-month display-month">35 تومان</span><span class="text-heading-3 for-year"> 420 تومان</span><span class="text-month for-month text-body-small color-gray-400">/ ماه</span><span class="text-month for-year text-body-small color-gray-400">/ سال</span>
    </div>
    <div class="line-bd-bottom">
    <h4 class="text-heading-5 mb-15">استاندارد</h4>
    <p class="text-body-small color-gray-400">
    همه اصول اولیه برای کسب و کارهایی که
    به تازگی شروع به کار کرده اند.
    </p>
    </div>
    <ul class="list-package-feature">
    <li>به‌روزرسانی‌های نامحدود</li>
    <li>مجوزهای سفارشی</li>
    <li class="uncheck">طرح‌ها و ویژگی‌های سفارشی</li>
    <li class="uncheck">هشتگ های سفارشی</li>
    </ul>
    <div>
    <a class="btn btn-black-border text-body-lead icon-arrow-right"
    href="index.htm#">شروع به کار</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".2s">
    <div class="box-pricing-item">
    <div class="box-info-price">
    <span class="text-heading-3 for-month display-month">89 تومان</span><span class="text-heading-3 for-year"> 1068 تومان</span><span class="text-month for-month text-body-small color-gray-400">/ ماه</span><span class="text-month for-year text-body-small color-gray-400">/ سال</span>
    </div>
    <div class="line-bd-bottom">
    <h4 class="text-heading-5 mb-15">موارد ضروری</h4>
    <p class="text-body-small color-gray-400">
    همه اصول اولیه برای کسب و کارهایی که
    به تازگی شروع به کار کرده اند.
    </p>
    </div>
    <ul class="list-package-feature">
    <li>به‌روزرسانی‌های نامحدود</li>
    <li>مجوزهای سفارشی</li>
    <li>مدرسان سفارشی</li>
    <li class="uncheck">هشتگ ها را بهینه کنید</li>
    </ul>
    <div>
    <a class="btn btn-black-border text-body-lead icon-arrow-right"
    href="index.htm#">شروع به کار</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-12 wow animate__animated animate__fadeIn" data-wow-delay=".4s">
    <div class="box-pricing-item">
    <div class="box-info-price">
    <span class="text-heading-3 for-month display-month">125 تومان</span><span class="text-heading-3 for-year"> 1500 تومان</span><span class="text-month for-month text-body-small color-gray-400">/ ماه</span><span class="text-month for-year text-body-small color-gray-400">/ سال</span>
    </div>
    <div class="line-bd-bottom">
    <h4 class="text-heading-5 mb-15">پرو</h4>
    <p class="text-body-small color-gray-400">
    ویژگی های پیشرفته برای حرفه ای هایی که
    نیاز به سفارشی سازی بیشتری دارند.
    </p>
    </div>
    <ul class="list-package-feature">
    <li>به‌روزرسانی‌های نامحدود</li>
    <li>طرح ها و ویژگی های سفارشی</li>
    <li>مجوزهای سفارشی</li>
    <li>هشتگ ها را بهینه کنید</li>
    <li>مدرسان سفارشی</li>
    </ul>
    <div>
    <a class="btn btn-black-border text-body-lead icon-arrow-right"
    href="index.htm#">شروع به کار</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    *@
    <section class="section-box overflow-visible mb-100">
        <div class="container mt-100">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="bg-2 box-newsletter position-relative">
                        <div class="row">
                            <div class="col-lg-5 col-md-7" id="Newsletter" >
                                <h4 class="text-heading-2 mb-10 mt-10">در خبرنامه الفبا مشترک شوید</h4>
                                <div class="box-form-newsletter mt-30" style="direction:ltr;">
                                    <div class="form-newsletter">  <button onclick="RegisterNewsletter()" class="btn btn-send"></button>
                                        <input
                                            class="input-newsletter"
                                            style="border:0;width:250px;"
                                            id="txtEmailNewsletter" type="text" value=""
                                               placeholder="Email Address (پست الکترونیکی) ...">
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-7" id="succeededNewsletter" style="display:none;text-align:center;">
                                <h2 style="color:green;font-size:19px;" class="text-heading-2 mb-10 mt-10">با موفقیت در خبرنامه الفبا عضو شدید</h2>
                            </div>
                            <div class="col-lg-7 col-md-5 mt-30 mt-lg-0 mt-md-30 mt-sm-30 position-relative text-end">
                                <div class="block-chart shape-1">
                                    <img src="~/sitetemplate/imgs/template/chart.png" alt="alefbafilm">
                                </div>
                                <img class="img-responsive img-newsletter" src="~/sitetemplate/imgs/template/img-newsletter.png"
                                     alt="alefbafilm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    <!-- Footer-->
    <footer class="footer mt-50">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-4 col-sm-6 text-center text-md-start">
                        <a href="~/">
                            <img alt="alefbafilm"
                                 src="~/sitetemplate/imgs/template/logo.svg">
                        </a>
                    </div>
                    @*<div class="col-md-8 col-sm-6 text-center text-md-end">
                    <span class="color-gray-900 text-heading-6 mr-30 text-mb-sm-20">برای شروع آماده هستید؟</span><a class="btn btn-square" href="page-signup.html">ایجاد یک حساب</a>
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 width-20 mb-30">
                    <h4 class="text-heading-5">تماس با</h4>
                    <div class="mt-20 text-body-text color-gray-600 mb-20">گیلان، آستانه اشرفیه، بلوار دکتر محمد معین، نبش خیابان جهاد کدپستی:  4441748864</div>
                    <div class="mt-20 text-body-text color-gray-600">01342127052 <br />09117638948</div>
                    <div class="text-body-text color-gray-600">info@alefbafilm.ir</div>
                </div>
                <div class="col-lg-3 width-20 mb-30">
                    <h4 class="text-heading-5">درباره ما</h4>
                    <ul class="menu-footer mt-20">
                        <li><a href="~/home/aboutus">ماموریت و چشم انداز</a></li>
                        <li><a href="~/home/staff">تیم ما</a></li>
                        <li><a href="~/home/cooperation">شرکت های همکار</a></li>
                    </ul>
                </div>
                @*<div class="col-lg-3 width-20 mb-30">
                <h4 class="text-heading-5">کشف</h4>
                <ul class="menu-footer mt-20">
                <li><a href="blog-1.html">اخبار و رویدادها</a></li>
                </ul>
                </div>*@
                <div class="col-lg-3 width-20 mb-30">
                    <h4 class="text-heading-5">پشتیبانی</h4>
                    <ul class="menu-footer mt-20">
                        <li><a href="~/home/contact">با ما تماس بگیرید</a></li>
                    </ul>
                </div>
                @* <div class="col-lg-3 width-16">
                <h4 class="text-heading-5">پیوندهای مفید</h4>
                <ul class="menu-footer mt-20">
                <li><a href="index.htm#">نحوه کار</a></li>
                <li><a href="page-pricing-2.html">تعرفه ها</a></li>
                </ul>
                </div>*@
            </div>
            <div class="footer-bottom mt-20">
                <div class="row">
                    <div class="col-md-6">
                        <span class="color-gray-400 text-body-lead">
                            <a href="https://eghbaldar.ir" target="_blank">
                                &copy; EGHBALDAR
                            </a>
                        </span>
                        <a class="text-body-text color-gray-400 ml-50">تمام حقوق مادی و معنوی مطالب محفوظ می‌باشد</a>
                    </div>
                    <div class="col-md-6 text-center text-lg-end text-md-end">
                        <div class="footer-social">

                            <a href="https://aparat.com/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-aparat.svg" />
                            </a>

                            <a href="https://wa.me/9117638948?text="
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-whatsapp.svg" />
                            </a>

                            <a href="https://instagram.com/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-instagram.svg" />
                            </a>

                            <a href="https://t.me/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-telegram.svg" />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/sitetemplate/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="~/sitetemplate/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/sitetemplate/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/sitetemplate/js/vendors/waypoints.js"></script>
    <script src="~/sitetemplate/js/vendors/wow.js"></script>
    <script src="~/sitetemplate/js/vendors/magnific-popup.js"></script>
    <script src="~/sitetemplate/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="~/sitetemplate/js/vendors/select2.min.js"></script>
    <script src="~/sitetemplate/js/vendors/isotope.js"></script>
    <script src="~/sitetemplate/js/vendors/scrollup.js"></script>
    <script src="~/sitetemplate/js/vendors/counterup.js"></script>
    <script src="~/sitetemplate/js/vendors/slick.js"></script>
    <script src="~/sitetemplate/js/vendors/jquery.elevatezoom.js"></script>
    <script src="~/sitetemplate/js/vendors/swiper-bundle.min.js"></script>
    <script src="~/sitetemplate/js/vendors/noUISlider.js"></script>
    <script src="~/sitetemplate/js/vendors/slider.js"></script>
    <script src="~/sitetemplate/js/main.js"></script>


    <!-- Sweet Alert -->
    <script src="~/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/sweetalert/sweetalert2.min.js"></script>
    <link href="~/sweetalert/sweetalert2.min.css" rel="stylesheet" />

    @RenderSection("Scripts",required:false)

    <!--  -->
    <script>
        function RegisterNewsletter() {
            var postData = { 'Email': $("#txtEmailNewsletter").val() };
            
            $.ajax({
                contentType:'application/x-www-form-urlencoded',
                dataType:'json',
                type:'POST',
                url: '/home/Newsletter',
                data:postData,
                success:function(data){
                    if(data.isSuccess){
                        document.getElementById("succeededNewsletter").style.display="inline";
                        document.getElementById("Newsletter").style.display = "none";
                    }
                },
                error:function(request,status,error){
                    alert(request.responseText);
                }
            });
            
        }
    </script>
</body>
</html>