<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <link rel="manifest" href="manifest.json.htm" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/sitetemplate/imgs/template/favicon.svg">
    <link href="~/sitetemplate/css/style.css" rel="stylesheet">
    <title>@ViewData["Title"]</title>
    <link href="~/sitetemplate/css/rtl.css" rel="stylesheet">
    @RenderSection("Styles",required:false)
</head>
<body>
    <!-- Preloader Start-->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    <header class="header sticky-bar">
        <div class="container">
            <div class="main-header">
                <div class="header-left">
                    <div class="header-logo">
                        <a class="d-flex" href="~/">
                            <img alt="alefbafilm"
                                 src="~/sitetemplate/imgs/template/logo.svg">
                        </a>
                    </div>
                    <div class="header-nav">
                        <nav class="nav-main-menu d-none d-xl-block">
                            <ul class="main-menu">
                                <li>
                                    <a class="active" href="~/">صفحه اصلی</a>
                                    @* <ul class="sub-menu two-col">
                                    <li><a href="index.html"><i class="fi fi-rr-home"> </i>صفحه اصلی - 1</a></li>
                                    <li><a href="index-2.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 2</a></li>
                                    <li><a href="index-3.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 3</a></li>
                                    <li><a href="index-4.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 4</a></li>
                                    <li><a href="index-5.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 5</a></li>
                                    <li><a href="index-6.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 6</a></li>
                                    <li><a href="index-7.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 7</a></li>
                                    <li><a href="index-8.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 8</a></li>
                                    </ul>*@
                                </li>
                                <li class="has-children">
                                    <a href="#">شرکت</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="closer" href="~/home/production">
                                                <i class="fi fi-rr-gem"></i>تولیدات
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/resume">
                                                <i class="fi fi-rr-gem"></i>سابقه کاری
                                            </a>
                                        </li>
                                        <li class="hr"><span></span></li>
                                        <li>
                                            <a class="closer" href="~/home/staff">
                                                <i class="fi fi-rr-database"></i>اعضای شرکت
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/ceo">
                                                <i class="fi fi-rr-database"></i>مدیر عامل
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/Cooperation">
                                                <i class="fi fi-rr-headset"></i>شرکت‌های همکار
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">درباره ما</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="closer" href="~/home/gallery">
                                                <i class="fi fi-rr-edit"></i>گالری تصاویر الفبا
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/aboutus">
                                                <i class="fi fi-rr-edit"></i>درباره‌ی الفبا
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/contact">
                                                <i class="fi fi-rr-edit"></i>در تماس باشید
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="block-signin">
                            <a class="btn btn-default hover-up icon-arrow-right" href="~/admin/users/index">
                                <span>مدیریت سایت</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
        <div class="mobile-header-wrapper-inner">
            @* <div class="mobile-header-top">
            <div class="user-account">
            <img src="~/sitetemplate/imgs/template/ava_1.png" alt="alefbafilm">
            <div class="content">
            <h6 class="user-name">سلام <span class="text-brand">استیون!</span></h6>
            <p class="font-xs text-muted">شما 5 پیام جدید دارید</p>
            </div>
            </div>
            </div>*@
            <div class="mobile-header-content-area">
                <div class="perfect-scroll">
                    <div class="mobile-menu-wrap mobile-header-border">
                        <!-- mobile menu start-->
                        <nav>
                            <ul class="mobile-menu font-heading">
                                <li>
                                    <a class="active" href="~/">صفحه اصلی</a>
                                    @* <ul class="sub-menu two-col">
                                    <li><a href="index.html"><i class="fi fi-rr-home"> </i>صفحه اصلی - 1</a></li>
                                    <li><a href="index-2.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 2</a></li>
                                    <li><a href="index-3.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 3</a></li>
                                    <li><a href="index-4.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 4</a></li>
                                    <li><a href="index-5.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 5</a></li>
                                    <li><a href="index-6.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 6</a></li>
                                    <li><a href="index-7.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 7</a></li>
                                    <li><a href="index-8.html"><i class="fi fi-rr-home"></i>صفحه اصلی - 8</a></li>
                                    </ul>*@
                                </li>
                                <li class="has-children">
                                    <a href="~/home/production">شرکت</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="closer" href="~/home/production">
                                                <i class="fi fi-rr-gem"></i>تولیدات
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/resume">
                                                <i class="fi fi-rr-gem"></i>سابقه کاری
                                            </a>
                                        </li>
                                        <li class="hr"><span></span></li>
                                        <li>
                                            <a class="closer" href="~/home/staff">
                                                <i class="fi fi-rr-database"></i>اعضای شرکت
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/ceo">
                                                <i class="fi fi-rr-database"></i>مدیر عامل
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/cooperation">
                                                <i class="fi fi-rr-headset"></i>شرکت‌های همکار
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="~/home/aboutus">درباره ما</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="closer" href="~/home/gallery">
                                                <i class="fi fi-rr-edit"></i>گالری تصاویر الفبا
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/aboutus">
                                                <i class="fi fi-rr-edit"></i>درباره‌ی الفبا
                                            </a>
                                        </li>
                                        <li>
                                            <a class="closer" href="~/home/contact">
                                                <i class="fi fi-rr-edit"></i>در تماس باشید
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- mobile menu end-->
                    </div>
                    <div class="site-copyright color-gray-400" style="text-align:center;">
                        <span class="color-gray-400 text-body-lead" style="color:lightgray;">
                            <a href="https://eghbaldar.ir" target="_blank">
                                &copy; EGHBALDAR
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <section class="section-box overflow-visible mb-100">
        <div class="container mt-100">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="bg-2 box-newsletter position-relative">
                        <div class="row">
                            <div class="col-lg-5 col-md-7" id="Newsletter">
                                <h4 class="text-heading-2 mb-10 mt-10">در خبرنامه الفبا مشترک شوید</h4>
                                <div class="box-form-newsletter mt-30" style="direction:ltr;">
                                    <div class="form-newsletter">
                                        @await Component.InvokeAsync("Newsletter");
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-7" id="succeededNewsletter" style="display:none;text-align:center;">
                                <h2 style="color:green;font-size:19px;" class="text-heading-2 mb-10 mt-10">با موفقیت در خبرنامه الفبا عضو شدید</h2>
                            </div>
                            <div class="col-lg-7 col-md-5 mt-30 mt-lg-0 mt-md-30 mt-sm-30 position-relative text-end">
                                <div class="block-chart shape-1">
                                    <img src="~/sitetemplate/imgs/template/chart.png" alt="alefbafilm">
                                </div>
                                <img class="img-responsive img-newsletter" src="~/sitetemplate/imgs/template/img-newsletter.png"
                                     alt="alefbafilm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer mt-50">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-4 col-sm-6 text-center text-md-start">
                        <a href="~/">
                            <img alt="alefbafilm"
                                 src="~/sitetemplate/imgs/template/logo.svg">
                        </a>
                    </div>
                    @*<div class="col-md-8 col-sm-6 text-center text-md-end">
                    <span class="color-gray-900 text-heading-6 mr-30 text-mb-sm-20">برای شروع آماده هستید؟</span><a class="btn btn-square" href="page-signup.html">ایجاد یک حساب</a>
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 width-20 mb-30">
                    <h4 class="text-heading-5">تماس با</h4>
                    <div class="mt-20 text-body-text color-gray-600 mb-20">گیلان، آستانه اشرفیه، بلوار دکتر محمد معین، نبش خیابان جهاد کدپستی:  4441748864</div>
                    <div class="mt-20 text-body-text color-gray-600">01342127052 <br />09117638948</div>
                    <div class="text-body-text color-gray-600">info@alefbafilm.ir</div>
                </div>
                <div class="col-lg-3 width-20 mb-30">
                    <h4 class="text-heading-5">درباره ما</h4>
                    <ul class="menu-footer mt-20">
                        <li><a href="~/home/aboutus">ماموریت و چشم انداز</a></li>
                        <li><a href="~/home/staff">تیم ما</a></li>
                        <li><a href="~/home/cooperation">شرکت های همکار</a></li>
                    </ul>
                </div>
                @*<div class="col-lg-3 width-20 mb-30">
                <h4 class="text-heading-5">کشف</h4>
                <ul class="menu-footer mt-20">
                <li><a href="blog-1.html">اخبار و رویدادها</a></li>
                </ul>
                </div>*@
                <div class="col-lg-3 width-20 mb-30">
                    <h4 class="text-heading-5">پشتیبانی</h4>
                    <ul class="menu-footer mt-20">
                        <li><a href="~/home/contact">با ما تماس بگیرید</a></li>
                    </ul>
                </div>
                @* <div class="col-lg-3 width-16">
                <h4 class="text-heading-5">پیوندهای مفید</h4>
                <ul class="menu-footer mt-20">
                <li><a href="index.htm#">نحوه کار</a></li>
                <li><a href="page-pricing-2.html">تعرفه ها</a></li>
                </ul>
                </div>*@
            </div>
            <div class="footer-bottom mt-20">
                <div class="row">
                    <div class="col-md-6">
                        <span class="color-gray-400 text-body-lead">
                            <a href="https://eghbaldar.ir" target="_blank">
                                &copy; EGHBALDAR
                            </a>
                        </span>
                        <a class="text-body-text color-gray-400 ml-50">تمام حقوق مادی و معنوی مطالب محفوظ می‌باشد</a>
                    </div>
                    <div class="col-md-6 text-center text-lg-end text-md-end">
                        <div class="footer-social">

                            <a href="https://aparat.com/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-aparat.svg" />
                            </a>

                            <a href="https://wa.me/9117638948?text="
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-whatsapp.svg" />
                            </a>

                            <a href="https://instagram.com/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-instagram.svg" />
                            </a>

                            <a href="https://t.me/alefbafilm"
                               target="_blank">
                                <img width="40" src="~/SiteTemplate/imgs/template/icons/icons8-telegram.svg" />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/sitetemplate/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="~/sitetemplate/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/sitetemplate/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/sitetemplate/js/vendors/waypoints.js"></script>
    <script src="~/sitetemplate/js/vendors/wow.js"></script>
    <script src="~/sitetemplate/js/vendors/magnific-popup.js"></script>
    <script src="~/sitetemplate/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="~/sitetemplate/js/vendors/select2.min.js"></script>
    <script src="~/sitetemplate/js/vendors/isotope.js"></script>
    <script src="~/sitetemplate/js/vendors/scrollup.js"></script>
    <script src="~/sitetemplate/js/vendors/counterup.js"></script>
    <script src="~/sitetemplate/js/vendors/slick.js"></script>
    <script src="~/sitetemplate/js/vendors/jquery.elevatezoom.js"></script>
    <script src="~/sitetemplate/js/vendors/swiper-bundle.min.js"></script>
    <script src="~/sitetemplate/js/vendors/noUISlider.js"></script>
    <script src="~/sitetemplate/js/vendors/slider.js"></script>
    <script src="~/sitetemplate/js/main.js"></script>


    <!-- These validation libraries need to be included for unobtrusive validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- End -->
    <!-- Sweet Alert -->
    <script src="~/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/sweetalert/sweetalert2.min.js"></script>
    <link href="~/sweetalert/sweetalert2.min.css" rel="stylesheet" />

    @RenderSection("Scripts",required:false)

    <!--  -->

</body>
</html>