@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using alefbafilms.application.Services.Users.Commands.PostUsers
@model RequestPostUserDto
@*
    Delevloper: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "ایجاد کاربر جدید";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">اضافه کردن کاربر جدید</h4>

                    <form id="formdata">

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="simpleinput">نام کامل کاربر:</label>
                                    <div class="col-sm-10">

                                        <input type="text"
                                               name="roll"
                                               data-val-required="Roll no. is required."
                                               data-val="true"
                                               id="txtFullname"
                                               placeholder="نام کامل کاربر به فارسی"
                                               class="form-control">

                                        <span data-valmsg-for="roll"
                                              data-valmsg-replace="true"
                                              style="margin-left: 75px; color: red;" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="example-email">ایمیل:</label>
                                    <div class="col-sm-10">
                                        <input type="email" id="txtEmail" name="example-email" class="form-control" placeholder="ایمیل">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="example-password">رمز عبور:</label>
                                    <div class="col-sm-10">
                                        <input type="password" id="txtPassword" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="example-password">تکرار رمز عبور:</label>
                                    <div class="col-sm-10">
                                        <input type="password" id="txtrePassword" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label">نقش کاربر</label>
                                    <div class="col-sm-10">
                                        <select class="custom-select" id="RoleId" name="Role"
                                                asp-items="@ViewBag.Roles">
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="Register()" class="btn btn-primary">درج کاربر</button>

                    </form>

                </div>

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>





@section Scripts
    {

    <!--These validation libraries need to be included for unobtrusive validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- End -->

    <script>
        function Register() {
            //alert($("#formdata").valid());
            if ($("#formdata").valid()) {
                  

            

            Swal.fire({
                title: 'ثبت نام کاربر!',
                text: 'مایل به ثبت کاربر جدید هستید؟',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#000222',
                cancelButtonColor: '#000222',
                confirmButtonText: 'بله انجام شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var fullname = $("#txtFullname").val();
                    var email = $("#txtEmail").val();
                    var password = $("#txtPassword").val();
                    var role = $("#RoleId").val();

                    var postData = {
                        'fullname': fullname,
                        'email': email,
                        'password': password,
                        'roleId': role,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: 'POST',
                        url: 'Create', // IActionResult's name in this route! if you would call an action from another route, you had to add new route before the "Create"
                        data: postData,
                        success: function (data) { //returned value as json format from backend! [this code:  return Json(result); from UserController.cs]
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    //location.reload();
                                });
                            }
                            else // if success is not happend!
                            {
                                swal.fire(
                                    'هشدار',
                                    data.message,
                                    'warning'
                                );
                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                }
                else {
                    Swal.fire('NO');
                }
            });
                            
            }
        }
    </script>
}