@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="user-box text-center">
    <img src="~/admintemplate/images/users/user.png" alt="تصویر کاربر" title="قائم امیدی" class="rounded-circle img-thumbnail avatar-lg">
    <div class="dropdown">
        <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">قائم امیدی</a>
    </div>
    <p class="text-muted">مدیر</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="~/admin/auth/SignOut" class="account-link">خروج</a>
            <a onclick="SignOut()" class="text-custom">
                <i class="mdi mdi-power" style="cursor:pointer;"></i>
            </a>
        </li>
    </ul>
</div>

<script>
    function SignOut() {

        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: 'POST',
            url: '/admin/auth/SignOut/',
            success: function(){
                location.reload();
            }
        });
    }
</script>
