@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    Developer: Alimohammad Eghbaldar
*@
<div class="user-box text-center">
    <img src="~/admintemplate/images/users/user.png" 
    alt="تصویر کاربر" class="rounded-circle img-thumbnail avatar-lg">
    <div class="dropdown">
        <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown"></a>
    </div>
    <p class="text-muted">مدیر</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="~/admin/Auth/Logout" class="account-link">
                <i class="mdi mdi-power" style="cursor:pointer;font-size:30px;"></i>
            </a>
            
        </li>
    </ul>
</div>
